.cta-banner {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }
  article {
    position: relative;
    z-index: 2;
    min-height: 700px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $media-md) {
      min-height: auto;
    }
    @media (max-width: $media-xs) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    h2 {
      text-align: center;
      letter-spacing: 0px;
      color: #ffffff;
      font-weight: $medium;
      font-size: 50px;
      line-height: 65px;
      font-family: $font-2;
      margin: 0;
      padding-bottom: 40px;
      max-width: 1200px;
      margin: 0 auto;
      @media (max-width: $media-md) {
        font-size: 40px;
        line-height: 55px;
      }
      @media (max-width: $media-xs) {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
      }
    }
  }
}
